@{
    ViewBag.Title = "Test";
    Layout = "~/Views/Shared/_MLayoutPage.cshtml";
}
<div class="wrap-fluid" ng-app="PecoApp">
    <div class="container-fluid paper-wrap bevel tlbr">
        <div ng-view=""></div>
    </div>
</div>
