
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Usercreated</title>
</head>
<body>
    <h2>You have successfully added a User</h2>
</body>
</html>
