<div id="main" role="main">
    <div id="content" class="container">
        <div class="row">
            <div id="Div1" style="width: 590px; padding: 0 43px 0 0; margin-left: 22px;">
                <img src="Images/banner_home_image_3.jpg" alt="PECO Pallet">
            </div>
            <div id="content_left_double" style="width: 590px; padding: 0 43px 0 0; margin-left: 22px;">
                <h1 class="txt-color-red login-header-big">Details Page</h1>
                <p>PECO Pallet makes it simple. We supply the best quality pallets and the most responsive service in North America, period. And that adds up to significant cost savings and improved efficiency throughout your supply chain.</p>
                <br>
                <p>No wonder more and more top CPG manufacturers and produce growers are now using PECO’s sturdy red wood block pallets to ship to retailers throughout the U.S., Canada, and Mexico.</p>
            </div>
        </div>
    </div>
</div>

